body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    background-image:url(../MULTIMEDIA/bckg.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat; /* Evita que las imágenes se repitan */

}
h2 {
    font-family: "Playfair Display", serif;
    font-size: xx-large;
    color: darkred;
}
.login-container {
    background-color: rgb(141, 129, 115);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    font-family: "Playfair Display", serif;
    font-size: medium;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container input[type="submit"] {
    font-family:  "Playfair Display", serif;
    font-size: large;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color:darkred;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container .register-button {
    font-family: 'Playfair Display', serif;
    font-size: large;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #7e4040;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-text{
    font-family: 'Playfair Display', serif;
    margin-top: 10px;
    color: #7e4040;

}